@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.post-title-section {
  width: 100vw;
  display: flex;
  margin-top: 2rem;
  flex-direction: column;
  max-height: 50rem;

}

.post-image {

  margin-top: 4.5rem;

}

.post-content {
  margin-top: 2.4rem;
  margin-left: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-wrap: balance;


}

.creator-intro {
  border-bottom: 1px solid black;
}
