@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --icon-size:48
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}


.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 200, 'GRAD' 0, 'opsz' var(--icon-size);
}
.post-title-section {
  width: 100vw;
  display: flex;
  margin-top: 2rem;
  flex-direction: column;
  max-height: 50rem;

}

.post-image {

  margin-top: 4.5rem;

}

.post-content {
  margin-top: 2.4rem;
  margin-left: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-wrap: balance;


}
